
<div class="well">
	<% @restaurants.each do |r| %>
		<h2><%= r.name %></h2>
		<p>Address: <%= r.address %></p>
		<p>Capacity: <%= r.capacity %></p>
		<div class="btn btn-default"><%= link_to 'Reserve', "/restaurants/#{r.id}/reservations/new" %></div>

	<% end %>
</div>
